/* You can add global styles to this file, and also import other style files */

@import './styles/all';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $body-background;
    color: $primary-font-color;
    font-size: $primary-font-size;
}

.footer {
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: black;
    text-align: center;
}